@model SistemaRefaccionaria.Modelos.Departamento
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Departamento";
}

<!--Creamos el formulario de envío de informacin-->
<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </div>
        <!--Cambio de titulo de la pagina-->
        @if(Model.Id !=0)
        {
            //Actualizar
            titulo = "Actualizar Departamento";
            <input type="hidden" asp-for="Id" id="id" />
        }
        <!--Mostramos el titulo de la página-->
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
        <!--Campo Descripcion-->
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripción:</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion" id="descripcion" />
                <span asp-validation-for="Descripcion" class="text-danger"> </span>
            </div>
        </div>
        <!--Campo Turno-->
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Turno:</label>
                <select asp-for="Turno" class="form-control">
                    <option value="Mañana">Mañana</option>
                    <option value="Tarde">Tarde</option>
                    <option value="Noche">Noche</option>
                </select>
                <span asp-validation-for="Turno" class="text-danger"></span>
            </div>
        </div>
        <!--Campo Estado-->
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Estado:</label>
               <select asp-for="Estado" class="form-select">
                   <option value="true">Activo</option>
                   <option value="false">Inactivo</option>
               </select>
                <span asp-validation-for="Estado" class="text-danger"> </span>
            </div>
        </div>
        <!--Presentamos las vistas parciales-->
        <br />
        <div>
            @if(Model.Id !=0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" />
            }
               

        </div>

    </div>
</form>

<!--Configuramos por medio de un script al dom para que use los helper tags-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("descripcion").addEventListener('change', function () {
            ValidarNombre();
        });

        function ValidarNombre() {
            var url = '@Url.Content("~/")' + "Admin/Departamento/ValidarNombre";
            var id = '#id';
            var nombre = '#descripcion';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("descripcion");
                        swal("ERROR", "Este nombre ya existe", "error");
                        nombre.value = "";
                    }
                });
            })
        }
    </script>
}
